<div class="px-3 py-2 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
      </a>

      <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
        <li>
          <a routerLink="/" class="nav-link text-secondary">
            <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#home"></use></svg>
            Home
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-white">
            <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#speedometer2"></use></svg>
            Dashboard
          </a>
        </li>
        <li>
          <a href="/orders" class="nav-link text-white">
            <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#table"></use></svg>
            Orders
          </a>
        </li>
        <li>
          <a routerLink="/products" class="nav-link text-white">
            <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#grid"></use></svg>
            Products
          </a>
        </li>
        <li>
          <a routerLink='/about' class="nav-link text-white">
            <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#people-circle"></use></svg>
            Contacts
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
<div class="container">

  <div class="jumbotron jumbotron-fluid">
    <h1 class="display-4">Hello, Dmitry!</h1>
    <p class="lead">This is a simple Hello World.</p>
    <hr class="my-4">
    <p>You must continue learning.</p>
    <div class="main-form">
      <p>Search your profile <a href="github.com">github.com</a></p>
      User name: <input [(ngModel)]="userName" type="text">
      <button (click)="search()">Search</button>
      <div *ngIf="response">
        <img alt="" src="{{response.avatar_url}}">
        <p>Name: {{response.login}}</p>
        <p>Repositories: {{response.public_repos}}</p>
        <p>Bio: {{response.bio}}</p>

      </div>

    </div>
    <app-neumaticos (newItemEvent)="addItem($event)" [item]="currentItem">

    </app-neumaticos>
    <div>
      <ul>
        <li *ngFor="let item of items">{{item}}</li>
      </ul>
    </div>

    <a class="btn btn-warning btn-lg" href="#" role="button">Let's go!</a>
  </div>
</div>

